h2 {
  color: var(--accent); // Use var(--accent) for the accent color
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--primary); // Use var(--primary) for the primary color
  text-transform: capitalize;
  box-shadow: var(--shadow);

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--lightgray); // Use var(--lightgray) for gray
  }

  th {
    background-color: var(--accent); // Use var(--accent) for the accent color
    color: white;
  }

  tr:nth-child(even) {
    background-color: var(--lightgray); // Use var(--lightgray) for gray
  }

  // tr:hover {
  //   background-color: var(--hover); // Use var(--accent) for the accent color
  // }
}
